<template>
    <Heading/>
</template>

<script>
// @ is an alias to /src
import Heading from "@/components/Heading.vue";

export default {
  name: "Home",
  components: {
    Heading
  }
};
</script>
