<template>
    <v-container>
        <v-row>
            <v-col class="col-12">
                <h1 @click="nextWave">Game of Life.</h1>
            </v-col>
        </v-row>
        <v-row>
            <v-col class="col-6">
                <span v-bind:class="{ active: menuindex == 0 }"  id="menu1" @click="menuindex=0"
                      style="font-weight: 600; margin-right: 20px;">Beschreibung</span>
                <span v-bind:class="{ active: menuindex == 1 }" id="menu2" @click="menuindex=1" style="font-weight: 600; margin-right: 20px">Regeln</span>
                <span v-bind:class="{ active: menuindex == 2 }" id="menu3" @click="menuindex=2" style="font-weight: 600; margin-right: 20px">John Horton Conway</span>

                <p class="mt-2" v-if="menuindex===0">Das Spiel des Lebens (engl. Conway’s Game of Life) ist ein vom
                    Mathematiker John Horton
                    Conway 1970 entworfenes Spiel, basierend auf einem zweidimensionalen zellulären Automaten. Es ist
                    eine einfache und bis heute populäre Umsetzung der Automaten-Theorie von Stanisław Marcin Ulam.</p>

                <div class="mt-2" v-if="menuindex===1">

                    <p>Das Spielfeld ist in Zeilen und Spalten unterteilt und im Idealfall unendlich groß. </p>
                    <p>edes Gitterquadrat ist ein zellulärer Automat (Zelle), der einen von zwei Zuständen einnehmen
                        kann, welche oft als lebendig und tot bezeichnet werden. Zunächst wird eine Anfangsgeneration
                        von lebenden Zellen auf dem Spielfeld platziert. Jede lebende oder tote Zelle hat auf diesem
                        Spielfeld genau acht Nachbarzellen, die berücksichtigt werden (Moore-Nachbarschaft). Die nächste
                        Generation ergibt sich durch die Befolgung einfacher Regeln:</p>

                    <li>Eine tote Zelle mit genau drei lebenden Nachbarn wird in der Folgegeneration neu geboren.</li>
                    <li>Lebende Zellen mit weniger als zwei lebenden Nachbarn sterben in der Folgegeneration an
                        Einsamkeit.
                    </li>
                    <li>Eine lebende Zelle mit zwei oder drei lebenden Nachbarn bleibt in der Folgegeneration am
                        Leben.
                    </li>
                    <li>Lebende Zellen mit mehr als drei lebenden Nachbarn sterben in der Folgegeneration an
                        Überbevölkerung.
                    </li>

                </div>
                <div class="mt-2" v-if="menuindex===2">

                    <p>John Horton Conway (* 26. Dezember 1937 in Liverpool, Vereinigtes Königreich; † 11. April 2020 in
                        New Brunswick, New Jersey, Vereinigte Staaten) war ein britischer Mathematiker.</p>
                    <p>Conway war bekannt für seine Arbeiten zur kombinatorischen Spieltheorie, wozu er unter anderem
                        die Bücher Über Zahlen und Spiele (Original: On Numbers and Games), Zahlenzauber (The Book of
                        Number) und Gewinnen: Strategien für mathematische Spiele (Winning Ways for Your Mathematical
                        Plays, zusammen mit Elwyn Berlekamp und Richard Kenneth Guy) veröffentlicht hat. Er kreierte
                        zahlreiche mathematische Spiele, darunter das berühmte Game of Life und das Spiel Sprouts. Er
                        entdeckte die surrealen Zahlen (so der Titel eines Buches, in dem Donald Knuth diese Arbeiten
                        popularisierte), eine Zahldefinition in Analogie zum Dedekind-Schnitt, die auch Spiele und
                        unendliche Kardinalzahlen umfasst.</p>


                </div>
            </v-col>
        </v-row>

        <v-row no-gutters class="mt-6 mb-6">
            <v-col class="col-12">
                <h3>Objekte platzieren</h3>
                <v-btn @click="spawnCluster" color="#b4cd93" depressed small>Cluster</v-btn>
                <v-btn @click="spawnGlider" class="ml-2" color="#b4cd93" depressed small>Gleiter</v-btn>
                <v-btn @click="spawnBomb" class="ml-2" color="#b4cd93" depressed small>Bombe</v-btn>
                <v-btn @click="spawnPulsator" class="ml-2" color="#b4cd93" depressed small>Pulsator</v-btn>
            </v-col>
            <v-col class="mt-6 col-12">
                <h3>Spiel steuern</h3>
                <p>Aktuelle Generation: {{wavecount}}</p>
            </v-col>
            <v-col class="col-6">
                <v-btn @click="nextWave" color="#b4cd93" depressed small>Nächste Generation</v-btn>
                <v-btn @click="clearField" class="ml-2" color="#b4cd93" depressed small>Zurücksetzen</v-btn>
                <v-btn @click="startWave" class="ml-2" color="primary" depressed small v-if="running == false">Start
                </v-btn>
                <v-btn @click="stopWave" class="ml-2" color="error" depressed small v-else>Stop</v-btn>
            </v-col>
            <v-col class="col-6">
                <v-slider
                        :max="1000"
                        :min="0"
                        color="#b4cd93"
                        dense
                        step="100"
                        ticks
                        track-color="#b4cd93"
                        v-model="speed"
                />
            </v-col>

        </v-row>

        <v-row>
            <v-col>
                <v-text-field
                        outlined readonly dense background-color="#dedede" id="output" v-model="logText"
                ></v-text-field>
                <div>
                    <table>
                        <tr :key=row v-for="(row, indexrow) in playfield.length-10">
                            <td :key=col @mousedown="changeCell(row,col)" @touchstart="addCell(row,col)"
                                v-for="(col, indexcol) in playfield[0].length-10" :id="indexrow +'/'+indexcol">
                                <div style="background-color: #1976d2 !important; width: 100%; height: 100%"
                                     v-if="getFieldData(row,col) === 1"></div>
                            </td>
                        </tr>
                    </table>

                </div>
            </v-col>
        </v-row>


    </v-container>
</template>

<script>
    export default {
        name: "HelloWorld",

        data() {
            return {
                menuindex: 0,
                playfield: [],
                wavecount: 0,
                emptyfield: [],
                intervalId: {},
                speed: 100,
                running: false,
                logText: "> Wilkommen!"


            }
        },
        methods: {

            createPlayfield: function () {

                let gridheight = 40 ;
                let gridwidth = 125;


                this.playfield = new Array(gridheight);

                for (let row = 0; row < gridheight; row++) {
                    this.$set(this.playfield, row, new Array(gridwidth))
                }

                for (let row = 0; row < gridheight; row++) {
                    for (let col = 0; col < gridwidth; col++) {
                        this.$set(this.playfield[row], col, 0)
                    }
                }

                this.emptyfield = JSON.parse(JSON.stringify(this.playfield))

            },

            getFieldData: function (row, col) {
                return this.playfield[row - 1][col - 1];
            },

            changeCell: function (row, col) {
                if (this.getFieldData(row, col)) {
                    this.$set(this.playfield[row - 1], col - 1, 0)
                } else {
                    this.$set(this.playfield[row - 1], col - 1, 1)
                }

                this.logText = "> Zelle ["+row+"/"+col+"] geändert."
            },

            clearField: function () {
                this.playfield = this.emptyfield;
                this.wavecount = 0;
                this.logText = "> Feld zurückgesetzt!"
            },

            startWave: function () {

                let intervalId = window.setInterval(() => {
                    this.nextWave();
                }, this.speed + 10);

                this.intervalId = intervalId;
                this.running = true;
                this.logText = "> Spiel gestartet!"
            },

            stopWave: function () {
                clearInterval(this.intervalId);
                this.running = false;
                this.logText = "> Spiel gestoppt!"
            },

            spawnCluster: function () {


                let tempPlayfield = [];

                for (let i = 0; i < this.playfield.length; i++)
                    tempPlayfield[i] = this.playfield[i].slice();


                let randRow = Math.floor(Math.random() * (20 - 10 + 1) + 10);
                let randCol = Math.floor(Math.random() * (100 - 10 + 1) + 10);

                let size = Math.floor(Math.random() * (6 - 1 + 1) + 2);



                this.logText = "> Cluster mit der Größe "+size+" wurde auf ["+randRow+"/"+randCol+"] erschaffen!"

                for (let x = 0; x < size; x++) {
                    for (let y = 0; y < size; y++) {
                        tempPlayfield[randRow + x][randCol + y] = Math.round(Math.random());
                        tempPlayfield[randRow - x][randCol - y] = Math.round(Math.random());
                        tempPlayfield[randRow + x][randCol - y] = Math.round(Math.random());
                        tempPlayfield[randRow - x][randCol + y] = Math.round(Math.random())
                    }
                }


                this.playfield = tempPlayfield

            },

            spawnGlider: function () {


                let tempPlayfield = [];

                for (let i = 0; i < this.playfield.length; i++)
                    tempPlayfield[i] = this.playfield[i].slice();


                let randRow = Math.floor(Math.random() * (30 - 10 + 1) + 10);
                let randCol = Math.floor(Math.random() * (100 - 10 + 1) + 10);
                this.logText = "> Ein Gleiter wurde auf ["+randRow+"/"+randCol+"] erschaffen!"

                tempPlayfield[randRow][randCol] = 1
                tempPlayfield[randRow][randCol+1] = 1
                tempPlayfield[randRow][randCol+2] = 1
                tempPlayfield[randRow-1][randCol+2] = 1
                tempPlayfield[randRow-2][randCol+1] = 1


                this.playfield = tempPlayfield

            },

            spawnBomb: function () {


                let tempPlayfield = [];

                for (let i = 0; i < this.playfield.length; i++)
                    tempPlayfield[i] = this.playfield[i].slice();


                let row = Math.floor(tempPlayfield.length/2)-5
                let col = Math.floor(tempPlayfield[1].length/2)-3
                this.logText = "> Eine Bombe wurde erschaffen!"



                tempPlayfield[row][col] = 1
                tempPlayfield[row-1][col] = 1
                tempPlayfield[row-2][col] = 1
                tempPlayfield[row-2][col+1] = 1
                tempPlayfield[row-2][col+2] = 1
                tempPlayfield[row-1][col+2] = 1
                tempPlayfield[row][col+2] = 1

                row += 2

                tempPlayfield[row][col] = 1
                tempPlayfield[row+1][col] = 1
                tempPlayfield[row+2][col] = 1
                tempPlayfield[row+2][col+1] = 1
                tempPlayfield[row+2][col+2] = 1
                tempPlayfield[row+1][col+2] = 1
                tempPlayfield[row][col+2] = 1

                this.playfield = tempPlayfield

            },

            spawnPulsator: function () {


                let tempPlayfield = [];

                for (let i = 0; i < this.playfield.length; i++)
                    tempPlayfield[i] = this.playfield[i].slice();


                let randRow = Math.floor(Math.random() * (20 - 5 + 1) + 5);
                let randCol = Math.floor(Math.random() * (80 - 20 + 1) + 20);

                this.logText = "> Ein Pulsator wurde auf ["+randRow+"/"+randCol+"] erschaffen!"

                for(let i = 0; i<8; i++){
                    tempPlayfield[randRow][randCol+i] = 1
                }
                tempPlayfield[randRow+1][randCol] = 1
                tempPlayfield[randRow+1][randCol+2] = 1
                tempPlayfield[randRow+1][randCol+3] = 1
                tempPlayfield[randRow+1][randCol+4] = 1
                tempPlayfield[randRow+1][randCol+5] = 1
                tempPlayfield[randRow+1][randCol+7] = 1

                for(let i = 0; i<8; i++){
                    tempPlayfield[randRow+2][randCol+i] = 1
                }

                this.playfield = tempPlayfield

            },

            nextWave: function () {


                    this.logText = "> Spiel gestart: Runde " + (this.wavecount+1)


                let tempPlayfield = [];
                this.wavecount++;

                for (let i = 0; i < this.playfield.length; i++)
                    tempPlayfield[i] = this.playfield[i].slice();


                for (let row = 0; row < this.playfield.length; row++) {
                    for (let col = 0; col < this.playfield[row].length; col++) {
                        let cellCount = 0;

                        try {
                            cellCount += this.playfield[row - 1][col - 1];
                            cellCount += this.playfield[row - 1][col];
                            cellCount += this.playfield[row - 1][col + 1];
                            cellCount += this.playfield[row][col - 1];
                            cellCount += this.playfield[row][col + 1];
                            cellCount += this.playfield[row + 1][col - 1];
                            cellCount += this.playfield[row + 1][col];
                            cellCount += this.playfield[row + 1][col + 1];
                        } catch (ArrayIndexOutOfBoundsException) {
                            //do something
                        }

                        if (this.playfield[row][col] === 0) {
                            if (cellCount === 3) {
                                tempPlayfield[row][col] = 1
                            }
                        }

                        if (this.playfield[row][col] === 1) {

                            if (cellCount < 2) {
                                tempPlayfield[row][col] = 0

                            }
                            if (cellCount === 2 || cellCount === 3) {
                                tempPlayfield[row][col] = 1
                            }
                            if (cellCount > 3) {
                                tempPlayfield[row][col] = 0
                            }

                        }


                    }
                }


                this.playfield = tempPlayfield

            }

        },
        created() {
            this.createPlayfield()
            this.spawnBomb()
        },


    };
</script>

<style>

    h1 {
        background-image: linear-gradient(transparent 0%, transparent 65%, #b4cd93 65%, #b4cd93 90%, transparent 90%, transparent);
        color: #403f3f !important;
        display: inline;
        font-weight: 900;
        font-size: 3.2em;
    }

    h1:after {
        content: '';
        display: block;
    }

    table {
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
    }

    td {
        width: 15px;
        height: 15px;
        background-color: #e0e0e0;
        border: 1px solid #c0c0c0;
    }

    .active {
        color: #b4cd93;
    }

</style>
