<template>
  <v-app>
    <router-view></router-view>
  </v-app>
</template>

<script>

export default {
  name: "App",



  data: () => ({
    //
  })
};
</script>

<style>

  .v-application{
    background-color: #f0f0f0!important;
    color: #403f3f!important;
  }

</style>
